.boardList{
    width: 70%;
    margin-left: 21%;
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    .title{
        background-color: rgb(167, 219, 143);
        border: none;
        padding: 4px;
        margin: 0;
        width: 98%;
        justify-content: space-between;
        display: flex;
        
        .writer{
        }
        .date{
            width: 140px;
        }
    }

    .content{
        padding: 14px;
        height: 120px;
        margin: auto;
    }

    .editMenu{
        justify-content: space-between;
        display: flex;
        margin: auto;
    }
}
.boardList .main{
    background-color: rgb(166, 228, 171);
}

.boardForm{
    width: 100%;
    background-color: beige;
    border: none;
    // width: 330px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    input{
        border-style: none;
        font-size: 0.9rem;
        height: 50px;
        line-height: 50px;
    }
    .btn{
        // float: right;
        background: linear-gradient(to right, #b9fb64, #55d460);
        // display: block;
        width: 3rem;
        border-radius: 0 5px 5px 0;
        cursor: pointer;

    }
}