.skip{
    // background: url('../icon/home.png');
    a {
        left: 0px;
        top: 0;
        background-color: rgb(96, 201, 131);
        line-height: 70px;
        width: 100px;
        text-align: center;
        float: left;
        
    } 
}